.navbar{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 5px #666;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
}

.navbar p{
    position: relative;
}

.navbar p::before{
    z-index: -1;
    margin:0 182px;
    margin-top: -10px;
    content: "";
    height: 100%;
    position: absolute;
    border: 25px solid var(--lightblue);
    border-radius: 15px;
    
}

#bear-logo{
    color:white;
}

.logo{
    margin-left: 10px;
    font-size: 2rem;
    font-weight: 600;
    color: var(--lightblue_2);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    font-family: var(--press);
}

.logo:hover{
    transition: 0.5s ease-in-out;
    color:#222;
}

.menu{
    cursor: pointer;
    display: flex;
    column-gap: 40px;
    transition: 0.5s ease-in-out;
}

li{
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(63, 63, 63);
    transition: 0.5s ease-in-out;
    padding: 20px;
    border-radius: 30% 30% 30% 30%;
}

li:hover{
    color:#ffffff;
    border-radius: 100% 0 100% 0;
    background-color: var(--lightblue_2);
    transition: 0.5s ease-in-out;
}

.hamburger{
    display: none;
}

.hamburger:hover{
    color: black;
    background-color: transparent;
}

.totop{
    color: #222;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.totop:hover{
    color: var(--lightblue_2);
    transition: 0.2s;
}

/* Breakpoint For reponsive */
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .totop{
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 880px) {
    .menu{
        column-gap: 20px;
    }
}

@media (max-width: 680px) {  
    .navbar p::before{
        margin-top: -5px;  
        height:20vh;      
    }

    .logo{
        margin: 0;
    }
    .hamburger{
        display: block;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
    }
    .menu.reponsive li.hamburger{
        position: absolute;
        right: 0;
        top: 15px;
    }
    li{
        display: none;
    }
    .menu.reponsive {        
        height: 100%;
        display: block;
        margin:auto auto;
        transition:2s ease-in-out;
        top: 0;
    }
    .menu.reponsive li{        
        float: none;
        display: block;
        text-align: center;
    }

}
