* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --lightblue: rgb(215, 227, 250);
  --lightblue_2: rgb(187, 211, 255);
  --cornblue: cornflowerblue;
  --yellow: rgb(255, 216, 133);
  --press: 'Press Start 2P', cursive;
}

html {
  font-family: "Prompt", sans-serif;
  scroll-behavior: smooth;
  ::-webkit-scrollbar {
    width: 0px;
  }
}
